<div class="shop-for wrapper">
    {% if section.settings.hide-text != true %}
        <div class="shop-for__heading">
            <h2>{{ section.settings.section-title}}</h2>
        </div>
        <div class="shop-for__desc">
            <p>{{ section.settings.section-desc}}</p>
        </div>
    {% endif %}
    <div class="shop-for__collection">
        {% for block in section.blocks %}
            <div class="shop-for__card {%if forloop.index > 2%} space-top {%endif%}">
                <div class="shop-for__card--img {% if block.settings.image == blank%} placeholder {%endif%}">
                    {% if section.settings.left-image != blank %}
                        <img src="{{ block.settings.image | image_url: master }}" alt="">
                    {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                </div>
            </div>
        {% endfor%}
    </div>
</div>

{% schema %}
{
    "name" : "Shop For Collections",
    "class" : "section",
    "settings" : [
        {
            "type" : "text",
            "id" : "section-title",
            "label" : "Section Title",
            "default": "Section Title"
        },
        {
            "type" : "textarea",
            "id" : "section-desc",
            "label" : "Section Description",
            "info" : "Describe your section here.",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel convallis ante."
        },
        {
            "type" : "checkbox",
            "id" : "hide-text",
            "label" : "Hide Section Title & Description?",
            "default" : false
        },
        {
            "type" : "image_picker",
            "id" : "left-image",
            "label" : "Left Image"
        },
        {
            "type" : "image_picker",
            "id" : "right-image",
            "label" : "Right Image"
        }
    ],
    "blocks": [
        {
            "type" : "image",
            "name" : "Image",
            "settings" : [
                {
                    "type" : "image_picker",
                    "id" : "image",
                    "label" : "Your Image here"
                }
            ]
        }
    ],
    "presets": [
        {
            "name" : "Shop for collections",
            "blocks" : [
                {
                    "type" : "image"
                },
                {
                    "type" : "image"
                },
                {
                    "type" : "image"
                },
                {
                    "type" : "image"
                }
            ]
        }
    ]
    
}
{% endschema %}