.announcement-bar.color-custom-1 {
  background-color: #FBF6F1;
}

.content-for-layout {
  background-color: #FBF6F1;
}

.image-with-text {
  margin-top: 30px;
}

.image-with-text .image-with-text__media {
  border-radius: 0;
}

.image-with-text .image-with-text__media-item > * {
  border-radius: 0 !important;
}

.image-with-text .image-with-text__media img {
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-for__heading {
  text-align: center;
}

.shop-for__desc {
  text-align: center;
  margin-bottom: 30px;
}

.shop-for__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-for__collection .shop-for__card {
  width: 49%;
}

.shop-for__collection .shop-for__card.space-top {
  margin-top: 40px;
}

.shop-for__collection .shop-for__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.newsletter .newsletter__wrapper.color-custom-1 {
  background-color: #FBF6F1;
}

.newsletter .newsletter-form__field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .newsletter-form__field-wrapper .field {
  border-radius: 0;
}

.newsletter .newsletter-form__field-wrapper .field::after, .newsletter .newsletter-form__field-wrapper .field::before, .newsletter .newsletter-form__field-wrapper .field:active, .newsletter .newsletter-form__field-wrapper .field:focus, .newsletter .newsletter-form__field-wrapper .field:focus-visible .newsletter .newsletter-form__field-wrapper .field:hover {
  border-radius: 0;
}

.newsletter .newsletter-form__field-wrapper .field input {
  -webkit-transition: none;
  transition: none;
}

.newsletter .newsletter-form__field-wrapper .field input::after, .newsletter .newsletter-form__field-wrapper .field input::before, .newsletter .newsletter-form__field-wrapper .field input:active, .newsletter .newsletter-form__field-wrapper .field input:focus, .newsletter .newsletter-form__field-wrapper .field input:focus-visible .newsletter .newsletter-form__field-wrapper .field input:hover {
  border-radius: 0;
}

.newsletter .newsletter-form__field-wrapper button {
  margin-left: 10px;
  background-color: black;
  border: none;
}

.newsletter .newsletter-form__field-wrapper button span {
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.footer.color-custom-1 {
  background-color: #FBF6F1;
}

.footer.color-custom-white {
  background-color: #F7F2F2;
}

.footer__blocks-wrapper {
  padding: 0 30px;
}

.footer__blocks-wrapper .footer-block__details-content {
  max-width: 350px;
}

.footer__blocks-wrapper .footer-block--newsletter {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  margin-top: 0;
}

.footer .footer-block--newsletter .newsletter-form__field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-block--newsletter .newsletter-form__field-wrapper .field {
  border-radius: 0;
}

.footer .footer-block--newsletter .newsletter-form__field-wrapper .field::after, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field::before, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field:active, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field:focus, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field:focus-visible .footer .footer-block--newsletter .newsletter-form__field-wrapper .field:hover {
  border-radius: 0;
}

.footer .footer-block--newsletter .newsletter-form__field-wrapper .field input {
  display: block;
  -webkit-transition: none;
  transition: none;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  padding-right: unset;
}

.footer .footer-block--newsletter .newsletter-form__field-wrapper .field input::after, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field input::before, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field input:active, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field input:focus, .footer .footer-block--newsletter .newsletter-form__field-wrapper .field input:focus-visible .footer .footer-block--newsletter .newsletter-form__field-wrapper .field input:hover {
  border-radius: 0;
}

.footer .footer-block--newsletter .newsletter-form__field-wrapper button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 20px;
  padding-right: 20px;
  position: unset;
  width: unset;
  margin-left: 10px;
}
