.announcement-bar.color-custom-1 {
  background-color: #FBF6F1;
}

.content-for-layout {
  background-color: #FBF6F1;
}

.image-with-text {
  margin-top: 30px;
}

.image-with-text .image-with-text__media {
  border-radius: 0;
}

.image-with-text .image-with-text__media-item > * {
  border-radius: 0 !important;
}

.image-with-text .image-with-text__media img {
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
