.footer {
    &.color-custom-1 {
        background-color: $background;
    }

    &.color-custom-white {
        background-color: $white-1;
    }

    &__blocks-wrapper {
        padding: 0 30px;
        .footer-block__details-content {
            max-width: 350px;
        }
        .footer-block--newsletter {
            align-items: unset;
            margin-top: 0;
        }
    }

    .footer-block--newsletter {
        .newsletter-form__field-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            .field {
                border-radius: 0;
                &::after, &::before, &:active, &:focus, &:focus-visible &:hover {
                    border-radius: 0;
                }
                input {
                    &::after, &::before, &:active, &:focus, &:focus-visible &:hover {
                        border-radius: 0;
                    }
                    display: inline-block;
                    transition: none;
                    box-sizing: border-box !important;
                    padding-right: unset;
                }
            }
            button {
                display: block !important;
                background-color: black;
                color: white;
                padding: 15px 20px;
                position: relative;
                width: unset;
                margin-left: 10px;
            }
        }
    }
} 